p {
  margin-bottom: 0.2rem;
}

a {
  color: rgb(213, 131, 131);
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: rgb(213, 131, 131);
  margin-top: 1%;
}

h2 {
  text-align: center;
  color: black;
}

.headerClases .colorHeader {
  background-color: rgb(213, 131, 131);
}
.headerClases .navbar {
  --bs-navbar-padding-y: 0;
}
.headerClases .navbarTamano {
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 500px) {
  .logoIndex {
    max-width: 200px;
    max-height: 100px;
  }
}
.entradaIndex .logoIndex {
  width: 300px;
  height: 200px;
}
.entradaIndex .posicionLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
}
.entradaIndex .textoMedio {
  text-align: center;
  margin-top: 10px;
}
.entradaIndex .marginTexto {
  margin: 1%;
}

.sectionCards .cardBetween {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.sectionCards .cardFlex {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
@media (max-width: 507px) {
  .sectionCards .cardsJustify {
    display: flex;
    justify-content: center;
    flex-direction: none;
    align-items: none;
  }
}
.sectionCards .cardPadding {
  margin-bottom: 5%;
}
@media (max-width: 507px) {
  .sectionCards .tamanoCard {
    min-width: 70%;
  }
}
.sectionCards .separacionCards {
  margin-top: 4%;
}
.sectionCards .cardSize {
  margin-top: 3%;
  width: 10%;
  height: 10%;
  margin-bottom: 3%;
}
.sectionCards .textoCentrado {
  text-align: center;
}
.sectionCards .colorCards {
  background-color: rgb(213, 131, 131);
}

.tamanofotosIndex {
  width: 400px;
  height: 500px;
}

.flexfotosIndex {
  display: flex;
  justify-content: space-between;
}

.carruseltextoPadding {
  margin-bottom: 6%;
}

.divTexto figure .tamanoInstagram {
  width: 50px;
  height: 50px;
}

.sectionCarrusel {
  display: flex;
  justify-content: center;
}
@media (min-width: 1400px) {
  .sectionCarrusel .tamanoCarouselCarousel {
    max-width: 80%;
  }
}
@media (min-width: 1800px) {
  .sectionCarrusel .tamanoCarouselCarousel {
    max-width: 60%;
  }
}

.carruselIndex {
  padding-top: 1%;
}
.carruselIndex .divCarrusel {
  padding: 2%;
}
.carruselIndex .divCarrusel .carrousel {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 700px;
  padding-bottom: 4%;
}

.paddingCartas {
  margin: 2%;
}
.paddingCartas .paddingDerecha {
  margin-right: 1%;
}
.paddingCartas .bordesCartas {
  border-color: black;
}

@media (max-width: 991px) {
  .formularioFlex {
    padding: 50px 30px;
    width: 100%;
  }
  input {
    padding: 10px 6px;
  }
}
.formularioFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.formularioFlex form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb(126, 124, 124);
  border-radius: 20px;
  text-align: center;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formularioFlex .input-group {
  text-align: left;
}
.formularioFlex input,
.formularioFlex textarea {
  margin-bottom: 10px;
  background-color: rgb(237, 200, 200);
  border: 1px solid black;
  outline: none;
  padding: 7px 7px;
}
.formularioFlex .btn {
  cursor: pointer;
}

footer {
  background-color: rgb(213, 131, 131);
  width: 100%;
  font-size: medium;
  color: black;
  padding-top: 6px;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
}
footer figure .instagramFooter {
  display: flex;
  justify-content: start;
  align-self: start;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
footer figure .facebookFooter {
  display: flex;
  justify-content: start;
  align-self: start;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
