body {
  background-color: rgb(249, 238, 225);
}

* {
  padding: none;
  margin: none;
}

p {
  margin-bottom: 0.2rem;
}

a {
  color: rgb(200, 77, 77);
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: rgb(200, 77, 77);
  margin-top: 1%;
}

h2 {
  text-align: center;
  color: black;
}

.colorTrabajos {
  color: rgb(200, 77, 77);
}

.backgroundFoto {
  background-image: url(../images/cabana2.png);
  background-repeat: no-repeat;
  margin: 0.2%;
  background-size: cover;
  top: 0;
  left: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  min-height: 300px;
}

@media (max-width: 768px) {
  .backgroundFoto {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 500px;
  }
}
.elfsightCSS {
  background-color: rgb(213, 131, 131);
  width: auto;
  height: auto;
  margin: 4%;
  padding-top: 3%;
}

.elfoCSS {
  display: flex;
  justify-content: flex-start;
}

.headerClases a {
  color: white;
}
.headerClases .navbar-nav .nav-link.active {
  color: white;
}
.headerClases .colorHeader {
  background-color: rgb(200, 77, 77);
}
.headerClases .navbar {
  --bs-navbar-padding-y: 0;
}
.headerClases .navbarTamano {
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 500px) {
  .logoIndex {
    max-width: 200px;
    max-height: 100px;
  }
}
.entradaIndex {
  display: inline-block;
  padding: 5px;
}
.entradaIndex .logoIndex {
  width: 300px;
  height: 200px;
}
.entradaIndex .posicionLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
}
.entradaIndex .textoMedio {
  text-align: center;
  margin-top: 10px;
}
.entradaIndex .colortextoLogo {
  color: white;
  text-shadow: 0px 0px 9px rgb(0, 0, 0);
}
.entradaIndex .marginTexto {
  margin: 1%;
  color: white;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
  text-shadow: 0px 0px 9px rgb(0, 0, 0);
}

@media (max-width: 767px) {
  .posicionLogo {
    width: auto;
  }
}
.mitadMitad {
  max-width: 100%;
  overflow-x: hidden;
  padding: 5px;
}

.fondotextoIndex {
  background-color: rgb(200, 77, 77);
  padding: 30px;
  color: white;
}

.fondotextoIndexDos {
  background-color: rgb(120, 116, 116);
  padding: 30px;
  color: white;
}

.botonflexCotizacion {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.botonflexCotizacion .buttonCotizacion {
  background-color: rgba(10, 10, 10, 0.5);
  opacity: 100%;
  margin: 2%;
  border: white 1px solid;
  outline: none;
}
.botonflexCotizacion .buttonCotizacion:hover {
  background-color: rgb(200, 77, 77);
}
.botonflexCotizacion .h2Cotizacion {
  color: white;
  opacity: 1;
  font-size: large;
  font-weight: 400;
  text-decoration: none;
}
.botonflexCotizacion .estilosCotizacion {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sectionCards {
  padding: 2%;
}
.sectionCards .bordeCartas {
  outline: black;
}
.sectionCards .cardBetween {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.sectionCards .cardFlex {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
@media (max-width: 507px) {
  .sectionCards .cardsJustify {
    display: flex;
    justify-content: center;
    flex-direction: none;
    align-items: none;
  }
}
.sectionCards .cardPadding {
  margin-bottom: 5%;
}
@media (max-width: 507px) {
  .sectionCards .tamanoCard {
    min-width: 70%;
  }
}
.sectionCards .separacionCards {
  margin-top: 4%;
}
.sectionCards .cardSize {
  margin-top: 3%;
  width: 10%;
  height: 10%;
  margin-bottom: 3%;
}
.sectionCards .textoCentrado {
  text-align: center;
}
.sectionCards .colorCards {
  background-color: rgb(200, 77, 77);
}

.tamanofotosIndex {
  width: 400px;
  height: 500px;
}

.flexfotosIndex {
  display: flex;
  justify-content: space-between;
}

.carruselIndex .divCarrusel {
  padding: 5%;
}

.carruseltextoPadding {
  margin-bottom: 6%;
}

.divTexto figure .tamanoInstagram {
  width: 50px;
  height: 50px;
}

.sectionCarrusel {
  display: flex;
  justify-content: center;
}
@media (min-width: 1400px) {
  .sectionCarrusel .tamanoCarouselCarousel {
    max-width: 80%;
  }
}
@media (min-width: 1800px) {
  .sectionCarrusel .tamanoCarouselCarousel {
    max-width: 60%;
  }
}

.carousel-inner {
  border: 3px solid rgb(200, 77, 77);
  border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(200, 77, 77);
  width: 5%;
  border-radius: 10px;
}

.carruselIndex {
  padding-top: 1%;
}
.carruselIndex .divCarrusel {
  padding: 2%;
}
.carruselIndex .divCarrusel .carrousel {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 700px;
  padding-bottom: 4%;
}

.paddingCartas {
  margin: 2%;
}
.paddingCartas .paddingDerecha {
  margin-right: 1%;
}
.paddingCartas .bordesCartas {
  border-color: black;
}

.backgroundForm {
  background-color: rgb(200, 77, 77);
  padding-bottom: 3%;
}

.backgroundFormDos {
  background-color: rgb(153, 152, 152);
}

.h1Contactanos {
  padding-top: 3%;
  color: white;
  text-shadow: 0px 0px 9px rgb(0, 0, 0);
}

.h2Contactanos {
  color: white;
  text-shadow: 0px 0px 9px rgb(0, 0, 0);
}

@media (max-width: 991px) {
  .formularioFlex {
    padding: 50px 30px;
    width: 100%;
  }
  input {
    padding: 10px 6px;
  }
}
.formularioFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.formularioFlex form {
  background-color: white;
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb(77, 77, 77);
  border-radius: 20px;
  text-align: center;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formularioFlex .input-group {
  text-align: left;
}
.formularioFlex input,
.formularioFlex textarea {
  margin-bottom: 10px;
  background-color: rgb(237, 200, 200);
  border: 1px solid black;
  outline: none;
  padding: 7px 7px;
}
.formularioFlex .btn {
  cursor: pointer;
}
.formularioFlex input:hover {
  background-color: rgb(202, 133, 133);
  color: white;
  cursor: pointer;
}
.formularioFlex textarea:hover {
  background-color: rgb(188, 138, 138);
  color: white;
  cursor: pointer;
}

.botonesTrabajos {
  display: flex;
  justify-content: center;
  margin: 0%;
  padding: none;
}
.botonesTrabajos .paddingBoton {
  margin: 5px;
  background-color: rgb(200, 77, 77);
}
.botonesTrabajos .paddingBoton:hover {
  background-color: rgb(200, 77, 77);
}
.botonesTrabajos a {
  color: rgb(255, 255, 255);
}

.paddingh1 {
  margin-top: 2%;
  padding: 10px;
}

@media (min-width: 992px) {
  .paddingCartas img {
    transition: 1s;
  }
  .paddingCartas img:hover {
    width: 280px;
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
  }
}
h1 {
  padding: 10px;
}

h6.card-title {
  text-align: center;
}

.galeriaFotos img:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.displayFlex {
  display: flex;
  justify-content: center;
}

.buttonCentrado {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.buttonCentrado .buttonCSS {
  display: inline-block;
  border-radius: 80px;
}

.marginBottomfaq {
  margin-bottom: 40px;
}

.fqColor {
  background-color: rgb(249, 238, 225);
}

.faqPadding {
  margin-bottom: 40px;
}

.colorTitulofaq {
  color: rgb(200, 77, 77);
}

@media (max-width: 992px) {
  .acordeonPreguntas {
    display: block;
  }
}
@media (min-width: 993px) {
  .acordeonPreguntas {
    display: none;
  }
}
@media (max-width: 993px) {
  .preguntasAparecen {
    display: none;
  }
}
@media (min-width: 993px) {
  .preguntasAparecen {
    display: block;
  }
}
.footer {
  background-color: rgb(200, 77, 77);
  color: black;
  padding: 4px;
  height: 2%;
}
.footer p {
  font-weight: 500;
  display: flex;
  justify-content: start;
}
.footer .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footerLista {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footerLista li {
  display: inline-block;
  margin-right: 20px;
}
.footer .footerLista li .last-child {
  margin-right: 0;
}
.footer .footerLista li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footerLista li a:hover {
  color: black;
  font-weight: 500;
}
.footer .footerLista b,
.footer .footerLista strong {
  font: 100;
}
.footer .tamanoWhatsapp {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 3%;
  bottom: 10%;
}
.footer .footerLista li {
  display: inline;
  margin-right: 10px;
}
@media (max-width: 992px) {
  .footer .footerLista {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
