//UNIVERSAL 

p {
    margin-bottom: 0.2rem;
}

a {
    color: rgb(213, 131, 131);
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: rgb(213, 131, 131);
    margin-top: 1%;
}

h2 {
    text-align: center;
    color: black;
}

.backgroundFoto {
    background-image: url(https://hotel-torres-del-sol-villa-de-merlo.hotelmix.es/data/Photos/OriginalPhoto/6441/644154/644154888/Hotel-Torres-Del-Sol-Villa-de-Merlo-Exterior.JPEG);
    background-repeat: no-repeat;
    margin: 0.2%;
    background-size: cover;

}



//Mixins -----------------------------

//Mixin Display Flex

@mixin flex ($justify, $direccion, $align) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direccion;
    align-items: $align;
}


// Mixin Vista Mobile
@mixin mobile {
    @media (max-width: 507px) {
        @content;
    }
}

// NAVBAR + HEADER
.headerClases {

    header {
        height: 60px;
    }

    .colorHeader {
        background-color: rgb(213, 131, 131);
    }

    .navbar {
        --bs-navbar-padding-y: 0;

    }

    .navbarTamano {
        height: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}




// LOGO + TEXTO

@media (max-width: 500px) {
    .logoIndex {
        max-width: 200px;
        max-height: 100px;
    }
}

.entradaIndex {

    .logoIndex {
        width: 300px;
        height: 200px;
    }


    .posicionLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0%;
    }

    .textoMedio {
        text-align: center;
        margin-top: 10px;
    }

    .colortextoLogo {
        color: white;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 4);
    }

    .marginTexto {
        margin: 1%;
        color: white;
        padding: 60px;
        position: relative;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 4);

    }

    display: inline-block;
    padding: 5px;
}

//BOTON COTIZACION

.botonflexCotizacion {
    display: flex;
    justify-content: center;


    .buttonCotizacion {
        background-color: rgba(10, 10, 10, 0.5);
        ;
        opacity: 100%;
        margin: 2%;
        border: white 1px solid;
        outline: none;
    }

    .buttonCotizacion:hover {
        background-color: rgb(213, 131, 131);
    }


    .h2Cotizacion {
        color: white;
        opacity: 1;
    }
}

//CARDS

@mixin flex ($justify, $direccion, $align) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direccion;
    align-items: $align;

}

.sectionCards {

    .bordeCartas {
        outline: black;
    }

    .cardBetween {
        @include flex ($direccion: none, $align: none, $justify: center);
    }

    .cardFlex {
        @include flex ($direccion: none, $align: none, $justify: center);

    }

    // Mixin Vista Mobile
    @mixin mobile {
        @media (max-width: 507px) {
            @content;
        }
    }

    @include mobile {
        .cardsJustify {
            @include flex ($direccion: none, $align: none, $justify: center);
        }
    }

    .cardPadding {
        margin-bottom: 5%;
    }

    @include mobile {
        .tamanoCard {
            min-width: 70%;
        }
    }

    .separacionCards {
        margin-top: 4%;
    }


    .cardSize {
        margin-top: 3%;
        width: 10%;
        height: 10%;
        margin-bottom: 3%;
    }

    .textoCentrado {
        text-align: center;
    }

    .colorCards {
        background-color: rgb(213, 131, 131);
    }

}

.tamanofotosIndex {
    width: 400px;
    height: 500px;
}

.flexfotosIndex {
    display: flex;
    justify-content: space-between;
}

//SOBRE NOSOTROS ----------------------------------------------------------------------------------------

//CARRUSELL TEXTO

.carruseltextoPadding {
    margin-bottom: 6%;
}

.divTexto {


    figure {
        .tamanoInstagram {
            width: 50px;
            height: 50px;
        }

    }
}

.sectionCarrusel {

    display: flex;
    justify-content: center;

    .tamanoCarousel {

        @media (min-width: 1400px) {
            &Carousel {
                max-width: 80%;
            }
        }

        @media (min-width: 1800px) {
            &Carousel {
                max-width: 60%;
            }
        }
    }


}

//CARRUSELL FOTOS
.carousel-inner {
    border: 3px solid rgb(213, 131, 131);
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgb(213, 131, 131);
    width: 5%;
    border-radius: 10px;
}

.carruselIndex {

    padding-top: 1%;


    .divCarrusel {

        padding: 2%;

        .carrousel {
            display: flex;
            justify-content: center;
            width: 550px;
            height: 700px;
            padding-bottom: 4%;
        }
    }

}


// CARTAS

.paddingCartas {
    margin: 2%;


    .paddingDerecha {
        margin-right: 1%;
    }

    .bordesCartas {
        border-color: black;
    }

}

//CONTACTO ----------------------------------------------------------------------------------

.h1Contactanos {
    padding-top: 3%;
    color: white;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 4);
}

.h2Contactanos {
    color: white;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 4);
}

@media(max-width:991px) {

    .formularioFlex {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 10px 6px;
    }
}

.formularioFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;


    form {
        background-color: white;
        padding: 50px 55px;
        box-shadow: 0 0 20px rgb(126, 124, 124);
        border-radius: 20px;
        text-align: center;
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-group {
        text-align: left;
    }

    input,
    textarea {
        margin-bottom: 10px;
        background-color: rgb(237, 200, 200);
        border: 1px solid black;
        outline: none;
        padding: 7px 7px;
    }

    .btn {
        cursor: pointer;
    }

}

//NUESTROS TRABAJOS ----------------------------------------------------------------------------------------

.botonesTrabajos {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: none;

    .paddingBoton {
        margin: 5px;
        background-color: rgb(213, 131, 131);
    }

    .paddingBoton:hover {
        background-color: rgb(212, 94, 94);
    }

    a {
        color: rgb(255, 255, 255);
    }
}


.paddingh1 {
    margin-top: 2%;
}

@media (min-width: 992px) {
    .paddingCartas img {
        transition: 1s;
    }

    .paddingCartas img:hover {
        width: 280px;
        cursor: pointer;
        transform: scale(1.1);
        transition: 1s;
    }
}


//GALERIA.... REEVER
.galeriaFotos {
    display: flex;
    width: 600px;
    height: 430px;
    margin: 5%;

    img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .10 ease;
    }
}

h5.card-title {
    text-align: center;
}

.galeriaFotos img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

//FOOTER----------------------------------------------------------------------------------------------------

footer {
    background-color: rgb(213, 131, 131);
    width: 100%;
    font-size: medium;
    color: black;
    padding-top: 6px;
    @include flex ($direccion: none, $align: center, $justify: center);

    figure {
        .tamanoWhatsapp {
            width: 60px;
            height: 60px;
            position: fixed;
            right: 3%;
            bottom: 7%;
        }

    }

    figure {
        .instagramFooter {
            display: flex;
            justify-content: start;
            align-self: start;
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
    }

    figure {
        .facebookFooter {
            display: flex;
            justify-content: start;
            align-self: start;
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
    }

}