//UNIVERSAL 

body {
    background-color: rgb(249, 238, 225);
}

* {
    padding: none;
    margin: none;
}

p {
    margin-bottom: 0.2rem;
}

a {
    color: rgb(200, 77, 77);
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: rgb(200, 77, 77);
    margin-top: 1%;
}

h2 {
    text-align: center;
    color: black;
}

.colorTrabajos {
    color: rgb(200, 77, 77);
}


.backgroundFoto {
    background-image: url(../images/cabana2.png);
    background-repeat: no-repeat;
    margin: 0.2%;
    background-size: cover;
    top: 0;
    left: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 300px;
}

@media (max-width: 768px) {
    .backgroundFoto {
        padding-top: 1px;
        padding-bottom: 1px;
        height: 500px;
    }
}

.elfsightCSS {
    background-color: rgb(213, 131, 131);
    width: auto;
    height: auto;
    margin: 4%;
    padding-top: 3%;
}

.elfoCSS {
    display: flex;
    justify-content: flex-start;
}



//Mixins -----------------------------

//Mixin Display Flex

@mixin flex ($justify, $direccion, $align) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direccion;
    align-items: $align;
}


// Mixin Vista Mobile
@mixin mobile {
    @media (max-width: 507px) {
        @content;
    }
}

// NAVBAR + HEADER
.headerClases {

    a {
        color: white;
    }

    .navbar-nav .nav-link.active {
        color: white;

    }


    .colorHeader {
        background-color: rgb(200, 77, 77);
    }

    .navbar {
        --bs-navbar-padding-y: 0;

    }

    .navbarTamano {
        height: 50px;
        padding-top: 30px;
        padding-bottom: 30px;

    }
}


// LOGO + TEXTO

@media (max-width: 500px) {
    .logoIndex {
        max-width: 200px;
        max-height: 100px;
    }
}

.entradaIndex {
    .logoIndex {
        width: 300px;
        height: 200px;
    }


    .posicionLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0%;
    }

    .textoMedio {
        text-align: center;
        margin-top: 10px;
    }

    .colortextoLogo {
        color: white;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 4);
    }

    .marginTexto {
        margin: 1%;
        color: white;
        padding: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
        position: relative;
        text-shadow: 0px 0px 9px rgb(0, 0, 0);
    }

    display: inline-block;
    padding: 5px;
}


@media (max-width: 767px) {
    .posicionLogo {
        width: auto;
    }
}

//MITAD Y MITAD
.mitadMitad {
    max-width: 100%;
    overflow-x: hidden;
    padding: 5px;
}


.fondotextoIndex {
    background-color: rgb(200, 77, 77);
    padding: 30px;
    color: white;
}

.fondotextoIndexDos {
    background-color: rgb(120, 116, 116);
    padding: 30px;
    color: white;
}

//BOTON COTIZACION

.botonflexCotizacion {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .buttonCotizacion {
        background-color: rgba(10, 10, 10, 0.5);
        opacity: 100%;
        margin: 2%;
        border: white 1px solid;
        outline: none;
    }

    .buttonCotizacion:hover {
        background-color: rgb(200, 77, 77);
    }


    .h2Cotizacion {
        color: white;
        opacity: 1;
        font-size: large;
        font-weight: 400;
        text-decoration: none;

    }

    .estilosCotizacion {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }
}


//CARDS

@mixin flex ($justify, $direccion, $align) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direccion;
    align-items: $align;

}

.sectionCards {

    padding: 2%;

    .bordeCartas {
        outline: black;
    }

    .cardBetween {
        @include flex ($direccion: none, $align: none, $justify: center);
    }

    .cardFlex {
        @include flex ($direccion: none, $align: none, $justify: center);

    }

    // Mixin Vista Mobile
    @mixin mobile {
        @media (max-width: 507px) {
            @content;
        }
    }

    @include mobile {
        .cardsJustify {
            @include flex ($direccion: none, $align: none, $justify: center);
        }
    }

    .cardPadding {
        margin-bottom: 5%;
    }

    @include mobile {
        .tamanoCard {
            min-width: 70%;
        }
    }

    .separacionCards {
        margin-top: 4%;
    }


    .cardSize {
        margin-top: 3%;
        width: 10%;
        height: 10%;
        margin-bottom: 3%;
    }

    .textoCentrado {
        text-align: center;
    }

    .colorCards {
        background-color: rgb(200, 77, 77);
    }

}

.tamanofotosIndex {
    width: 400px;
    height: 500px;
}

.flexfotosIndex {
    display: flex;
    justify-content: space-between;
}

//SOBRE NOSOTROS ----------------------------------------------------------------------------------------

//CARRUSELL TEXTO

.carruselIndex .divCarrusel {
    padding: 5%;
}

.carruseltextoPadding {
    margin-bottom: 6%;
}

.divTexto {


    figure {
        .tamanoInstagram {
            width: 50px;
            height: 50px;
        }

    }
}

.sectionCarrusel {

    display: flex;
    justify-content: center;

    .tamanoCarousel {

        @media (min-width: 1400px) {
            &Carousel {
                max-width: 80%;
            }
        }

        @media (min-width: 1800px) {
            &Carousel {
                max-width: 60%;
            }
        }
    }


}

//CARRUSELL FOTOS
.carousel-inner {
    border: 3px solid rgb(200, 77, 77);
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgb(200, 77, 77);
    width: 5%;
    border-radius: 10px;
}

.carruselIndex {

    padding-top: 1%;


    .divCarrusel {

        padding: 2%;

        .carrousel {
            display: flex;
            justify-content: center;
            width: 550px;
            height: 700px;
            padding-bottom: 4%;
        }
    }

}


// CARTAS

.paddingCartas {
    margin: 2%;


    .paddingDerecha {
        margin-right: 1%;
    }

    .bordesCartas {
        border-color: black;
    }

}

//CONTACTO ----------------------------------------------------------------------------------

.backgroundForm {
    background-color: rgb(200, 77, 77);
    padding-bottom: 3%;
}

.backgroundFormDos {
    background-color: rgb(153, 152, 152);
}

.h1Contactanos {
    padding-top: 3%;
    color: white;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 4);
}

.h2Contactanos {
    color: white;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 4);
}

@media(max-width:991px) {

    .formularioFlex {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 10px 6px;
    }
}

.formularioFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;


    form {
        background-color: white;
        padding: 50px 55px;
        box-shadow: 0 0 20px rgb(77, 77, 77);
        border-radius: 20px;
        text-align: center;
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-group {
        text-align: left;
    }

    input,
    textarea {
        margin-bottom: 10px;
        background-color: rgb(237, 200, 200);
        border: 1px solid black;
        outline: none;
        padding: 7px 7px;
    }

    .btn {
        cursor: pointer;
    }

    input:hover {
        background-color: rgb(202, 133, 133);
        color: white;
        cursor: pointer;
    }

    textarea:hover {
        background-color: rgb(188, 138, 138);
        color: white;
        cursor: pointer;
    }

}

//NUESTROS TRABAJOS ----------------------------------------------------------------------------------------


.botonesTrabajos {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: none;

    .paddingBoton {
        margin: 5px;
        background-color: rgb(200, 77, 77);
    }

    .paddingBoton:hover {
        background-color: rgb(200, 77, 77);
    }

    a {
        color: rgb(255, 255, 255);
    }
}


.paddingh1 {
    margin-top: 2%;
    padding: 10px;
}

@media (min-width: 992px) {
    .paddingCartas img {
        transition: 1s;
    }

    .paddingCartas img:hover {
        width: 280px;
        cursor: pointer;
        transform: scale(1.1);
        transition: 1s;
    }
}



h1 {
    padding: 10px;

}

h6.card-title {
    text-align: center;
}

.galeriaFotos img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.displayFlex {
    display: flex;
    justify-content: center;
}

.buttonCentrado {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 10px;
    cursor: pointer;

    .buttonCSS {
        display: inline-block;
        border-radius: 80px;
    }
}

//PREGUNTAS FRECUENTES -------------------------------------------------------------------------------------

.marginBottomfaq {
    margin-bottom: 40px;
}

.fqColor {
    background-color: rgb(249, 238, 225);
}

.faqPadding {
    margin-bottom: 40px;
}

.colorTitulofaq {
    color: rgb(200, 77, 77);
}

// ACORDEÓN DE PREGUNTAS 

@media (max-width: 992px) {
    .acordeonPreguntas {
        display: block; 
    }
}


@media (min-width: 993px) {
    .acordeonPreguntas {
        display: none; 
    }
}

// PREGUNTAS PERO TEXTO

@media (max-width: 993px) {
    .preguntasAparecen {
        display: none; 
    }
}


@media (min-width: 993px) {
    .preguntasAparecen {
        display: block; 
    }
}

//FOOTER----------------------------------------------------------------------------------------------------


//foooter nuevo

.footer {

    background-color: rgb(200, 77, 77);
    color: black;
    padding: 4px;
    height: 2%;

    p {
        font-weight: 500;
        display: flex;
        justify-content: start;
    }


    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footerLista {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 20px;

            .last-child {
                margin-right: 0;
            }

            a {
                color: #fff;
                text-decoration: none;
                transition: color 0.3s ease;

            }

            a:hover {
                color: black;
                font-weight: 500;
            }
        }

        b,
        strong {
            font: 100;
        }

    }

    .tamanoWhatsapp {
        width: 60px;
        height: 60px;
        position: fixed;
        right: 3%;
        bottom: 10%;
    }

    .footerLista li {
        display: inline;
        margin-right: 10px;
    }

    @media (max-width: 992px) {
        .footerLista {
            display: none;
        }
    }
}